@import './fonts/satoshi.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes aurora {
  from {
    background-position:
      50% 50%,
      50% 50%;
  }
  to {
    background-position:
      350% 50%,
      350% 50%;
  }
}

.animate-aurora {
  animation: aurora 60s linear infinite;
}


* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  font-family: 'Satoshi-Regular', 'Satoshi-Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  background-color: #ffffff;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
  -webkit-touch-callout: none;
}
